#info {
    flex: 0.5;
    display: flex;
    height: 60%;
    color: black;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
    font-size: 0.9vw;
    position: relative;
    background-color: white;
  }
  
  #info>h2 {
    color: black
  }

  .card>h1 {
    font-size: 2vw;
  }

  #arrow-right {
    width: 0; 
    height: 0;
    left: 100%;
    bottom: 35%;
    position: absolute;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid black;
  }

  #arrow-left {
    width: 0; 
    height: 0;
    right: 100%;
    bottom: 35%;
    position: absolute;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-right: 2vw solid black;
  }

  #linksContainer {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    font-size: 1vw;
  }