#contactIcons {
    width: 60%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#contactIcons > a {
    font-size: 200px;
}